$header-height: 70px;
$player-height: 90px;
.zm-btn {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
}
.is-medium {
  font-size: 14px;
  padding: 9px 24px;
}
.zm-navbar-main {
  position: relative;
  margin-bottom: 15px;
}
.icon {
  line-height: 66%;
  opacity: 0.8;
  display: inline-block;
}
.line {
  position: relative;
  height: 1px;
}
.line:after {
  content: "";
  border-top: 1px solid #32323d;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
  opacity: 0.1;
}
.scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.scroll-bar {
  position: absolute;
  inset: 0;
  overflow: hidden scroll;
  margin: 10px -6px 0 0;
}
/* MusicBar */
.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.level-left {
  align-items: center;
  justify-content: flex-start;
}
.level .level-left,
.level .level-right {
  display: flex;
}
.level .level-item:not(.is-narrow) {
  flex-grow: 1;
}
.level .level-item:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0;
}
.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}
.level .level-left + .level-right {
  margin-top: 0;
}
.level-right {
  align-items: center;
  justify-content: flex-end;
}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
//main
.zm-main {
  min-height: calc(100% - 70px);
  margin-top: 70px;
}
.wrapper {
  padding-top: 70px;
  min-height: calc(100% - $header-height - $player-height);
  position: relative;
}
