// variable support
$header-height: 70px;
$player-height: 90px;
$padding-section: 59px;
//refer chung
.zm-btn {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
}

.icon {
  line-height: 66%;
  opacity: 0.8;
  display: inline-block;
}
.line {
  position: relative;
  height: 1px;
}
.line:after {
  content: "";
  border-top: 1px solid #32323d;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
  opacity: 0.1;
}
.zm-card {
  max-width: 100%;
  position: relative;
}
.zm-card-img {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  flex-shrink: 0;
}

.scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.scroll-bar {
  position: absolute;
  inset: 0;
  overflow: hidden scroll;
  margin: 10px 1px 0 0;

  &::-webkit-scrollbar-thumb {
    display: none;
  }
  &:hover::-webkit-scrollbar-thumb {
    display: block;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.01);
  }
}
.scroll-refer {
  margin-top: 70px !important;
}
/* MusicBar */
.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.level-left {
  align-items: center;
  justify-content: flex-start;
}
.level .level-left,
.level .level-right {
  display: flex;
}
.level .level-item:not(.is-narrow) {
  flex-grow: 1;
}
.level .level-item:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0;
}
.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}
.level .level-left + .level-right {
  margin-top: 0;
}
.level-right {
  align-items: center;
  justify-content: flex-end;
}

//card hover
.card-hover {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  border-radius: 5px;
  animation: blur linear 0.3s;
  transition: all 0.3s;
  &__content {
    color: #fff;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
  .hover_lr > .level > .level-item:first-child {
    color: #ea7aa0;
  }
  .hover__between {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    &::before {
      content: "";
      position: absolute;
      border: 1px solid;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      left: 40%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .fill {
    font-size: 20px;
  }
}
//main
.zm-main {
  min-height: 100vh;
  margin-top: 70px;
  padding: 0 $padding-section;
}
.wrapper {
  min-height: calc(100% - $header-height - $player-height);
  padding-top: 70px;
  position: relative;
}
