.wrapper-explore {
  padding-top: 20px !important;
}
.general-select {
  margin-bottom: 20px;
  .zm-btn {
    padding: 4px 24px;
    border: $border-primary;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
  }
  .zm-btn.active {
    border-color: $purple-primary;
    background-color: $purple-primary;
    color: $txt-white;
  }
}
.track-vertical {
  position: absolute;
  width: 4px;
  transition: opacity 200ms ease 0s;
  opacity: 0;
  right: 2px;
  top: 2px;
  bottom: 2px;
  z-index: 100;
  .thumb-vertical {
    position: relative;
    display: block;
    width: 100%;
    height: 108px;
    transform: translateY(0px);
    background-color: $bg-color;
    border-radius: 2px;
  }
}
